/********** Movie Container **************/
.movies_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 15px;
    margin: 40px 0 30px 0;
}
.single_movie_card{
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
    background-color: rgba(245, 245, 245, 0.084);
    position: relative;
    border-radius: 10px;
}
.movie_image_container{
    position: relative;
    transition: all .3s linear;
    padding-bottom: 10px;
}
.single_movie_card:hover .movie_image_container{
    transform: translateY(-50px);
}
.single_movie_card:hover{
    background-color: #034452;
}
.movie_image{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.movie_icon_container{
    position: absolute;
    right: 8%;
    bottom: 10%;
    background-color: #045061;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}
.movie_icon{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.849);
}
.single_movie_card:hover .movie_icon_container{
    background-color: #01181d;
}

.single_movie_card:hover .movie_icon{
    color: #0ad2ff;
}

.single_movie_content{
    text-align: center;
    color: white;
    margin: 0 auto;
    line-height: 0px;
    position: absolute;
    max-width: 90%;
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
    bottom: 2%;
    left: 0;
    right: 0;
}
.single_movie_content h2{
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.single_movie_content p{
    margin-top: 5px;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.single_movie_card:hover .single_movie_content{
	transform: translateY(0px);
	opacity: 1;
}

/******** Pagination css *********/


@media screen and (max-width:1043px) {
   
    .movies_container{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 15px;
        margin: 40px 0 30px 0;
    }
    .movie_image{
        width: 260px;
        height: 300px;
    }
}

@media screen and (max-width:1043px) {
    .movie_image{
        width: 250px;
        height: 300px;
    }
    

}

@media screen and (max-width:953px) {
    .movie_image{
        width: 200px;
        height: 300px;
    }
    

}

@media screen and (max-width:789px) {
    .movie_image{
        width: 190px;
        height: 300px;
    }
    
    .movies_container{ 
        gap: 20px 10px;
    }
}
@media screen and (max-width:742px) {
    .movie_image{
        width: 250px;
        height: 300px;
    }
    
    .movies_container{ 
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
    }
}
@media screen and (max-width:627px) {
    .movie_image{
        width: 230px;
        height: 300px;
    }
    
}
@media screen and (max-width:585px) {
    .movie_image{
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width:516px) {
    .movie_image{
        width: 180px;
        height: 300px;
    }
    .movies_container{
        gap: 20px 15px !important;
    }
    
}
@media screen and (max-width:469px) {
    .single_movie_card{
        width: 90%;
    }
    .movies_container{
        gap: 20px 10px !important;
    }
    .movie_image{
        width: 100%;
    }
    
}
@media screen and (max-width:412px) {
    
    .movies_container{
        gap: 20px 15px !important;
    }
}



@media screen and (max-width:320px) {
   
}