
.single_movie_card{
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
    background-color: rgba(245, 245, 245, 0.084);
    position: relative;
    border-radius: 10px;
    transition: all .3s linear;
}
.movie_image_container{
    position: relative;
    transition: all .3s linear;
    padding-bottom: 10px;
}
.single_movie_card:hover .movie_image_container{
    transform: translateY(-50px);
}
.single_movie_card:hover{
    background-color: #034452;
}

.movie_image{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}
.movie_bookmark_container{
     position: absolute;
     top: 60%;
     right: 10%;
    background-color: #045061;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
    z-index: 20;
   
}
.movie_bookmark{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.849);
   
}

.single_movie_card:hover .movie_bookmark_container{
    background-color: #01181d;
    
}
.bookmarked{
    background-color: #0bc6f0;
    color: #04232a;
}
.single_movie_card:hover .movie_bookmark{
    color: #0ad2ff;
    
}

.single_movie_content{
    text-align: center;
    color: white;
    margin: 0 auto;
    line-height: 0px;
    position: absolute;
    max-width: 90%;
    transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
    bottom: 2%;
    left: 0;
    right: 0;
}
.single_movie_content h2{
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.single_movie_content p{
    margin-top: 5px;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    margin-bottom: 5px;
}



.single_movie_card:hover .single_movie_content{
	transform: translateY(0px);
	opacity: 1;
}



@media screen and (max-width:879px){
    .single_movie_content h2{
        font-size: 16px;
    }
    .single_movie_content p{
        font-size: 14px;
    }
    
}
@media screen and (max-width:719px){
    .single_movie_content{
        opacity: 1 !important;
    }
    .single_movie_content{
        transform: translateY(0px) !important;
        height: 25% !important;
    }
    .movie_image_container{
        padding-bottom: 0px !important;
        height: 75% !important;
    }
    .movie_image{
        height: 100% !important;

    }
    .movie_bookmark_container{
        top: 50%;
    }
    .single_movie_card:hover .movie_image_container{
        transform: translateY(0px) !important;
    }
    .single_movie_card:hover{
        border: 3px solid rgb(16, 231, 16);
        transition: all .2s linear;
    }
}

@media screen and (max-width:552px){
    .single_movie_content{
        padding: 20px 0;
    }
    .single_movie_content h2{
        font-size: 16px !important;
        margin-top: 25px;
        line-height: 25px !important;
    }
    .single_movie_content p{
        font-size: 12px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
@media screen and (max-width:422px){
    .movie_bookmark_container{
        width: 35px;
        height: 35px;
    }
    .movie_bookmark{
        font-size: 14px;
    }
    .single_movie_card{
        height: 300px !important;
    }
}
@media screen and (max-width:364px){
    .single_movie_content h2{
        margin-top: 15px;
        font-size: 14px !important;
        line-height: 17px !important;
    }
}
@media screen and (max-width:300px){
    .movie_image_container{
        height: 69% !important;
    }
    .movie_image{
        object-fit: contain;
    }
    .movie_bookmark_container{
       top: 40%;
    }
    .single_movie_content h2{
        margin-top: 5px;

    }
}
@media screen and (max-width:270px){
    
}