.genres_container{
    margin: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.genre{
    padding: 3px 8px;
    margin: 5px;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

.active{
    color: rgb(13, 207, 13);
    background-color: #021d23b1;
}
.not_active{
    background-color: #053a46;
    color: whitesmoke;
}

@media screen and (max-width:520px){
    .genre{
        font-size: 14px;
        padding: 3px 5px;
    }
}